#dream-box{
  background-color: snow;
  width: 50%;
  margin: 0 auto;
  padding: 10px 20px 40px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 3px 5px gray;
  text-align: left;
}

#dream-box > span{
  color: brown;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#dream-box > span:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s;
  color: red;
}

.title-box{
  color: #395e60;
  font-size: 20px;
  border: none;
  width: 80%;
}

#typ{
  position: absolute;
  right: 10px;
  bottom: 0px;
  color: brown;
  font-weight: bold;
}